nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
}

.background {
    position: absolute;
    top: 0px;
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 50rem;
    background: rgb(72, 64, 196);
    background: -moz-linear-gradient(
        90deg,
        rgba(72, 64, 196, 0.8436624649859944) 39%,
        rgba(121, 9, 9, 0.5803571428571428) 100%,
        rgba(32, 197, 230, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(72, 64, 196, 0.8436624649859944) 39%,
        rgba(121, 9, 9, 0.5803571428571428) 100%,
        rgba(32, 197, 230, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(72, 64, 196, 0.8436624649859944) 39%,
        rgba(121, 9, 9, 0.5803571428571428) 100%,
        rgba(32, 197, 230, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4840c4",endColorstr="#20c5e6",GradientType=1);
    border-radius: 0 0px 20px 20px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    // position: absolute;
    // top: 19px;
    // left: 245px;
    // width: 50px;
    // height: 50px;
    // border-radius: 50%;
    background: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
}

li {
    list-style: none;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: wheat;
}

.icon-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 50px 0;
    margin-right: 20px;
    >svg{
        width: 98%;
        height: 95%;
 
    color: wheat;
    }
}

.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 50px;
    flex: 1;
    padding: 10px;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
